/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  height: 100%;
	line-height: 1;
  background-image: url("https://res.cloudinary.com/dbvgiuj6d/image/upload/q_auto:good/v1670295857/Personal%20Site/pexels-rudolf-jakkel-418831_u57yaq.jpg");
}
#root {
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#mySideBar {
  width: 0vw;
}
.sidebar {
  width: 0vw;
  min-width: 0;
  position: fixed;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(67, 143, 143, .8);
  overflow-x: hidden;
  padding-top: 3vh;
  transition: 0.8s;
}
.sidebar a {
  margin: 1.5vh 1.5vh 1.5vh 6vh;
  text-decoration: none;
  white-space: nowrap;
  font-size: 2.5vh;
  color: #ffffff;
  display: block;
  transition: 0.8s;
}
.sidebar a:hover {
  color: black;
}
#menubtn {
  font-size: 1.6vw;
  top: 1.5vh;
  position: sticky;
  cursor: pointer;
  background-color: rgba(67, 143, 143, .8);
  z-index: 11;
  color: white;
  padding: .5vw 1vw;
  margin-top: 1.5vh;
  margin-left: -16vw;
  margin-bottom: 1vh;
  border: none;
  width: 15vw;
  height: 6vh;
  transition: 0.8s;
}
.openbtn:hover {
  background-color: rgb(25, 193, 212);
}
#main {
  transition: margin-left .8s;
  margin-left: 17vw;
  background-color: rgba(229, 229, 229, .9);

}

/* MOBILE */
@media screen and (max-width: 450px) {
  #container {
    min-height: 100vh !important;
  }
  #main {
    margin-left: 11vw;
    width: 79vw;
    background-color: rgba(229, 229, 229, .7);
  }
  #menubtn {
    margin-top: -5vh;
    margin-left: 1vw;
    width: 25vw;
    font-size: 5vw;
  }
  #sidebarNameHeader, #sidebarListHeader {
    font-size: 7vw !important;
    padding-left: 12vw !important;
  }
  #listName {
    margin-left: -6vw;
  }
  #listBlock {
    display: flex;
    flex-direction: column !important;
    margin-left: 13vw;
    font-size: 6vw !important;
  }
  #listText {
    font-size: 6vw !important;
  }
  #detail, #aboutMeHeader, #aboutMeContainer {
    width: 79vw !important;
  }
  #aboutMeContainer {
    margin-top: 0vw !important;
  }
  #aboutMeHeader {
    font-size: 8vw !important;
    padding-left: 5vw !important;
  }
  #aboutMeOuter {
    margin-bottom: 1vw !important;
  }
  .aboutMeRow {
    flex-direction: column !important;
    font-size: 4vw !important;
    justify-content: space-around !important;
    width: 65vw !important;
    height: 70vh !important;
  }
  #aboutMeBioBlock {
    width: 50vw !important;
    height: 28vh !important;
    font-size: 2.5vw !important;
  }
  #aboutMeBio, .aboutMeBio {
    width: 50vw !important;
    height: fit-content !important;
    padding: 3vw !important;
    font-size: 3.5vw !important;
  }
  #aboutMeBio, {
    padding: 4vw !important;
  }
  #aboutMeRowTwo {
    flex-direction: column-reverse !important;
    justify-content: space-around !important;
    margin-bottom: 4vh !important;
  }
  #aboutMeHeadshot {
    width: 45vw !important;
    height: auto !important;
  }
  #aboutMeHackReactor {
    margin-top: -10vh !important;
    width: 50vw !important;
    padding: 2vw;
    height: auto !important;
    background-color: rgba(245, 245, 245, 0.276);
  }
  #aboutMePython {
    width: 50vw !important;
    padding: 1vw;
    height: auto !important;
    background-color: rgba(245, 245, 245, 0.276);
  }
  #hack-reactor-text {
    margin-top: -10vh !important;
  }
  #mvp-title-logo {
    align-items: center !important;
    justify-content: center;
  }
  #mvp-header {
    margin-top: 3vh !important;
    font-size: 8vw !important;
  }
  #mvp-githubLink {
    width: 10vw !important;
  }
  #mvp-title-logo, #mvp-paragraphQuestion-1, .mvp-paragraphQuestions, #icon-header, #sdc-title, #techCardGroup, #photography-header, #ll-title {
    width: 79vw !important;
  }

  #mvp-paragraphQuestion-1, .mvp-paragraphQuestions {
    font-size: 4vw !important;

  }
  #mvp-underlinedText, #mvp-paragraph-1 {
    background-color: rgba(245, 245, 245, 0.514) !important;
    width: 65vw !important;
    padding: 5vw !important;
    margin: 0 !important;
    margin-bottom: 3vh !important;
    font-size: 3.5vw !important;
    text-align: center;
  }
  #mvp-underlinedText {
    margin-top: -2vh !important;
    font-size: 4vw !important;
  }
  #mvp-paragraph-headers {
    font-size: 5vw !important;
    margin-bottom: 1vh !important;
    text-decoration: underline;
  }
  #mvpCarousel {
    width: 72vw !important;
  }
  #photography-header {
    margin-left: -7vw !important;
  }
  #ll-title {
    margin-left: 0vw !important;
  }
  #linkedIn, #github {
    width: 13vw !important;
  }
  #icon-header {
    font-size: 4vw !important;
  }
  #techCardGroup {
    margin-top: 5vh !important;
    align-items: center;
    height: 30vh;
  }
  #techCard {
    width: 20vw !important;
    height: 15vh !important;
  }
}
/* END MOBILE */
@keyframes entryFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes entryFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#aboutMeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Apple Chancery, cursive;
  font-size: 4.5vw;
  font-weight: 500;
  margin-top: -2vh;
  margin-bottom: 4vh;
  width: 65vw;
  height: 15vh;
  text-shadow: 2px 2px gray;
}
#aboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  width: 65vw;
  gap: 2.5vw;
}
#aboutMeTopRow {
  height: 2vh;
  background-color:  rgb(229, 229, 229) !important;
}
#aboutMeBioBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutMeBioClosing {
  padding-right: 40vw;
  margin-top: -5vh;
}
.aboutMeBio {
  display: flex;
  align-items: center;
  text-indent: 2vw;
  font-size: 2.5vh;
  text-align: center;
  font-style: italic;
  background-color: whitesmoke;
  height: 50vh;
  width: 25vw;
  padding: 3vw;
  overflow-y:auto;
}
#aboutMeBio {
  font-size: 2.7vh;
}
.aboutMeRow {
  display: flex;
  flex-direction: row;
  background-color: rgba(24, 61, 37, 0.322);
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 58vh;
}
#aboutMeHeadshot {
  border: black 2px solid;
  background-color: whitesmoke;
  margin: 1vw;
  width: auto;
  height: 49vh;
}
#aboutMePython {
  width: 20vw;
  height: auto;
}
#aboutMeHackReactor {
  width: 25vw;
  height: auto;
}
#aboutMeOuter {
  margin-bottom: 5vh;
}
#container {
  display: flex;
  position: absolute;
  min-height: 100vh;
  flex-direction: row;
}
#sidebarNameHeader {
  padding-left: 3vw;
  padding-bottom: 1vw;
  font-size: 2.5vw;
  font-style: italic;
  color: white;
}
#sidebarListHeader {
  font-style: italic;
  padding-left: 4.25vw;
  padding-bottom: 3.4vh;
  font-size: 2.4vw;
  color: white;
  border-bottom: 2px white solid;
}
#navbarList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vh;
  margin-left: 1.25vw;
  opacity: 0;
  padding-bottom: 1.5vw;
  font-size: 1.6vw;
  color: white;
  transition: .8s;
}

#listBlock {
display: flex;
flex-direction: column;
font-size: 1.5vw;
}
#detail {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  text-align: center;
  margin-top: -3vh;
  width: 65vw;
}
#mvp-outer-container {
  display: flex;
  flex-direction: row;
  margin-top: -6.5vh;
  width: auto;
}
#mvp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
#mvp-title-logo {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 3.5vw;
  font-weight: 500;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: rgba(205, 227, 225, .8);
  width: 65vw;
  height: 16vh;
  text-shadow: 2px 2px gray;
}
#mvp-githubLink {
  width: 6vw;
}
#icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin-top: 4vh;
  font-size: 2.5vw;
  background-color: whitesmoke;
  height: 10vh;
  width: 65vw;
}
#mvp-paragraph-1 {
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-style: oblique;
  text-align: center;
  font-size: 1.35vw;
  width: 50vw;
}
#mvp-paragraph-headers {
  font-size: 1.7vw;
  font-weight: 500;
}
#mvp-aboveCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 60vw;
  margin-bottom: 4vh;
  text-indent: 3vw;
}
.mvp-paragraphQuestions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  font-weight: 200;
  font-style: italic;
  text-indent: 0;
  background-color: whitesmoke;
  margin-bottom: 4vh;
  width: 65vw;
  height: 10vh;
}
#mvp-paragraphQuestion-1 {
  margin-top: -1vh;
}
#mvp-underlinedText {
  text-indent: 0;
  font-size: 1.45vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
}
#mvpCarousel {
  border: black groove 8px;
  height: auto;
  width: 50vw;
  margin-bottom: 4vh;
  margin-top: -2vh;
}
#mvpImg {
  object-fit: fill;
  height: auto;
  width: 50vw;
  max-height: 100%;
  max-width: 100%;
}
.d-block w-100 {
  width: 45vw;
  height: 58.3vh;
}
#techCardGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  width: 60vw;
}
#techCard {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  position: relative;
  align-items: center;
  justify-content: end;
  padding-bottom: 2vh;
  height: 26vh;
  width: 12vw;
  font-size: 2vh;
  text-shadow: 1px 1px gray;
}
#cardIcon {
  width: 8vw;
}
#sdc-outer-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
#sdc-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  align-items: center;
  text-align: center;
  width: 60vw;
}
#sdc-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 3.5vw;
  font-weight: 500;
  margin-top: -5.5vh;
  margin-bottom: 1vh;
  background-color: rgba(205, 227, 225, .8);
  width: 65vw;
  height: 16vh;
  text-shadow: 2px 2px gray;
}
#sdc-intro-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  width: 55vw;
  justify-content: center;
  align-items: center;
}
#sdc-intro-text {
  width: 20vw;
}
#sdc-images {
  border: black 2px solid;
  width: 50vw;
  padding: 1vw;
  background-color: white;
  height: auto;
}
#sdc-loadBalancer {
  width: 50vw;
  height: auto;
}
#sdc-schema {
  width: 50vw;
  padding: 2vw;
  height: auto;
  background-color: white;
  border: 1px black solid;
}
#sdc-schema:hover {
  transform: scale(1.8);
}
#sdc-gif, .construction-gif {
  border: black 1px solid;
  width: 50vw;
  height: auto;
}
.sdc-paragraphs {
  width: 45vw;
  font-style: italic;
  padding-right: .5vw;
  font-size: 1.25vw;
  margin-bottom: 8vh;
}
#sdc-answers, .construction-text {
  width: 50vw;
  font-size: 1.35vw;
}
#sdc-answers-special {
  width: 50vw;
  font-size: 1.25vw;
  text-decoration: underline;
}

#sdc-paragraphQuestions, .construction-header {
  font-size: 2.5vw;
  margin-bottom: 3vh;
  font-style: italic;
  text-indent: 0;
}
#sdc-paragraphQuestions {
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  width: 65vw;
  height: 10vh;
}
#sdc-pageHead {
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  font-style: italic;
  margin-top: -5vh;
  width: 65vw;
  height: 10vh;
}
#sdc-steps {
  font-size: 1.75vw;
  font-weight: 200;
  margin-bottom: 3vh;
  text-decoration: underline;
  text-indent: 0;
}
#constructionContainer {
  display: flex;
  flex-direction: row;
}
#constructionLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  width: 60vw;
}
.construction-header {
  margin-bottom: 0;
}
#construction-header {
  display: flex;
  flex-direction: column;
  font-size: 3.5vw;
  gap: .6vh;
}
#construction-subheader {
  font-size: 1vw;
  font-style: italic;
  text-shadow: none;
}
.construction-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60vw;
}
.construction-roles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
  border: 1px solid black;
  background-color: whitesmoke;
  width: 12vw;
  height: 7vh;
  font-size: 1.7vw;
}
#flatAccordion {
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
}
#openAccordion {
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
}
#mapToolboxAccordion {
  border-top: black 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;

}
#mapToolbox {
display: flex;
width: 40vw;
}

#photography-outer-container {
  display: flex;
  flex-direction: row;
}
#photography-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
}
#photography-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Apple Chancery, cursive;
  font-size: 3.5vw;
  font-weight: 500;
  margin-left: 0vw;
  margin-bottom: 4vh;
  margin-top: -6vh;
  background-color: rgba(205, 227, 225, .8);
  width: 65vw;
  height: 20vh;
}
#photography-placeholder {
  font-size: 2.5vw;
}
#linkedIn {
  width: 4.25vw;
  height: auto;
}
#github {
  width: 4vw;
  height: auto;
}
#ll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}
#ll-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  background-color: rgba(205, 227, 225, .8);
  width: 65vw;
  height: 15vh;
  margin-left: 5vw;
  margin-top: -5.5vh;
  margin-bottom: 4vh;
  text-shadow: 2px 2px gray;
}
#ll-description {
  width: 50vw;
  font-style: italic;
  font-size: 1.45vw;
  margin-left: 12vw;
  margin-bottom: 8vh;
}
#ll-gamebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px black solid;
  background-color: rgb(86, 166, 198);
  background-image: linear-gradient(rgb(86, 166, 198), rgb(74, 38, 38));
  margin-right: 10vw;
  width: 55vw;
  height: 70vh;
}

@keyframes showAnimation {
  from {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  to {
    visibility: visible;
    height: 4vw;
    width: 4vw;
  }
}

@keyframes segmentX {
  to {transform: translateX(50vw);}
}

@keyframes segmentY {
  from { transform: translateY(60vh)}
}

.segmentPath-0 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
}
.segment-0 {
  position: absolute;
  border-radius: 100%;
  z-index: 10;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in;
  animation-fill-mode: forwards;
}
.segmentPath-1 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .25s;
}
.segment-1 {
  position: absolute;
  border-radius: 100%;
  z-index: 9;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: .25s;
}
.segmentPath-2 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .5s;
}
.segment-2 {
  position: absolute;
  border-radius: 100%;
  z-index: 8;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}
.segmentPath-3 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .75s;
}
.segment-3 {
  position: absolute;
  border-radius: 100%;
  z-index: 7;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: .75s;
}
.segmentPath-4 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1s;
}
.segment-4 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.segmentPath-5 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1.25s;
}
.segment-5 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.25s;
}
.segmentPath-6 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1.5s;
}
.segment-6 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
.segmentPath-7 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1.75s;
}
.segment-7 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
}
.segmentPath-8 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 2s;
}
.segment-8 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.segmentPath-9 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 2.25s;
}
.segment-9 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.25s;
}
#ll-buttonBox {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  width: 55vw;
  margin-top: 4vh;
  margin-right: 10vw;
}
.ll-buttons {
  font-size: 2.5vh;
  width: 15vw;
  height: 6vh;
}
#ll-finalComment {
  width: 50vw;
  font-style: italic;
  font-size: 1.45vw;
  margin-top: 6vh;
  margin-left: -9vw;
  margin-bottom: 4vh;
}
#siteFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  padding-top: 4vh;
  border-top: 2px black solid;
  width: 55vw;
  height: 10vh;
}