/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  height: 100%;
	line-height: 1;
  background-image: url("https://res.cloudinary.com/dbvgiuj6d/image/upload/q_auto:good/v1670295857/Personal%20Site/pexels-rudolf-jakkel-418831_u57yaq.jpg");
  background-size: cover;
}
#root {
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#mySideBar {
  width: 0vw;
}
.sidebar {
  width: 0vw;
  min-width: 0;
  position: fixed;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(67, 143, 143, .8);
  overflow-x: hidden;
  padding-top: 3vh;
  transition: 0.8s;
}
.sidebar a {
  margin: 1.5vh 1.5vh 1.5vh 6vh;
  text-decoration: none;
  white-space: nowrap;
  font-size: 2.5vh;
  color: #ffffff;
  display: block;
  transition: 0.8s;
}
.sidebar a:hover {
  color: black;
}
#menubtn {
  font-size: 1.6vw;
  top: 1.5vh;
  position: sticky;
  cursor: pointer;
  background-color: rgba(67, 143, 143, .8);
  z-index: 11;
  color: white;
  padding: .5vw 1vw;
  margin-top: 1.5vh;
  margin-left: -16vw;
  margin-bottom: 1vh;
  border: none;
  width: 15vw;
  height: 6vh;
  transition: 0.8s;
}
.openbtn:hover {
  background-color: rgb(25, 193, 212);
}
#main {
  transition: margin-left .8s;
  margin-left: 17vw;
  /* background-color: rgba(245, 245, 245, 0.8); */
}

/* MOBILE */
@media screen and (max-width: 450px) {
  #container {
    min-height: 100vh !important;
  }
  #main {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    width: 85%;
  }
  #menubtn {
    margin-top: -5vh;
    margin-left: 1vw;
    width: 25vw;
    font-size: 5vw;
  }
  #sidebarNameHeader, #sidebarListHeader {
    font-size: 7vw !important;
    padding-left: 12vw !important;
  }
  #listName {
    margin-left: -6vw;
  }
  #listBlock {
    display: flex;
    flex-direction: column !important;
    margin-left: 13vw;
    font-size: 6vw !important;
  }
  #listText {
    font-size: 6vw !important;
  }
  #detail, #aboutMeHeader, #aboutMeContainer {
    width: 85vw !important;
  }
  #aboutMeContainer {
    margin-top: 0vw !important;
  }
  #aboutMeHeader {
    font-size: 8vw !important;
    padding-left: 5vw !important;
    padding-top: 4.5vh !important;
  }

  .aboutMeRow {
    flex-direction: column !important;
    font-size: 4vw !important;
    width: 65vw !important;
    height: 85vh !important;
  }
  #aboutMeBioBlock {
    width: 50vw !important;
    height: 28vh !important;
  }
  #aboutMeBio, .aboutMeBio {
    width: 50vw !important;
    height: fit-content !important;
    padding: 3vw !important;
    font-size: 2vh !important;
  }
  #aboutMeBio {
    padding: 4vw !important;
  }
  #aboutMeRowTwo {
    flex-direction: column-reverse !important;
    justify-content: space-around !important;
    padding-top: 4vh !important;
  }
  #aboutMeHeadshot {
    width: 50vw !important;
    height: auto !important;
  }
  #aboutMeHackReactor {
    margin-top: -10vh !important;
    width: 60vw !important;
    padding: 2vw;
    height: auto !important;
    background-color: rgba(245, 245, 245, 0.276);
  }
  #aboutMePython {
    width: 60vw !important;
    padding: 1vw;
    height: auto !important;
    background-color: rgba(245, 245, 245, 0.276);
  }
  #hack-reactor-text {
    height: 50vh !important;
  }
  .pageTitle {
    margin-top: 4.5vh !important;
    font-size: 2.25rem !important;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8% !important;
    height: 25vh !important;
    align-items: center !important;
    justify-content: center;
    flex-direction: row-reverse !important;
  }
  #mvp-header {
    margin-top: 3vh !important;
    font-size: 8vw !important;
  }
  #mvp-githubLink {
    width: 12vw !important;
    margin-top: 3vh !important;
    margin-right: 3vw !important;
  }
  #specialHeader .textHeader {
    font-size: 4vw !important;
  }
  .subText {
    text-indent: 3rem !important;
  }
  #underlinedText {
    font-size: 1rem !important;
  }
  .textHeader {
    font-size: 5vw !important;
    margin-bottom: 1vh !important;
    text-decoration: underline;
  }
  #photography-header {
    margin-left: -7vw !important;
  }
  #sdc-pageHead {
    width: 100% !important;
    font-size: 2.5vh !important;
  }
  #sdc-title-text {
    font-size: 3.5vh !important;
    margin-right: -1vw !important;
    margin-top: 3vh !important;
  }
  #sdc-title {
    gap: 0vw !important;
    flex-direction: row-reverse !important;
    height: 20vh !important;
  }
  .construction-list {
    font-size: 2.5vh !important;
  }
  #ll-description, #ll-finalComment, .construction-header, #sdc-answers-special {
    font-size: 2.25vh !important;
  }
  #construction-header {
    font-size: 3.5vh !important;
    margin-top: 4vh !important;
  }
  #construction-subheader {
    font-size: 2vh !important;
  }
  .construction-roles {
    width: 22vw !important;
    font-size: 2vh !important;
  }
  #ll-title {
    margin-left: 0vw !important;
    font-size: 3.5vh !important;
    padding-top: 3vh !important;
  }
  .ll-buttons {
    width: 35vw !important;
  }
  #linkedIn, #github {
    width: 13vw !important;
  }
  .icon-header {
    font-size: 2.5vh!important;
  }
  .techCardGroup {
    margin-top: 2vh !important;
    align-items: center;
    height: auto;
  }
  .techCard {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    gap: 3vh !important;
    width: 30vw !important;
    font-size: 2.5vh !important;
    height: 25vh !important;
  }
  .cardIcon {
    width: 10vh !important;
  }
  .application-news-box {
    font-size: 2.5vh !important;
  }
}

@media screen and (max-width: 1000px) {
  .aboutMeBio {
    align-items: flex-start !important;
  }
}

/* END MOBILE */
@keyframes entryFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes entryFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#container {
  display: flex;
  position: absolute;
  min-height: 100vh;
  flex-direction: row;
}
#detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -3vh;
  width: 65vw;
}
.outerContainer {
  display: flex;
  flex-direction: row;
  margin-top: -6.5vh;
  background-color: rgba(48, 48, 48, 0.896);
  width: auto;
}
.dataContainer {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin-top: 3vh;
  margin-bottom: 5vh;
  width: 92.5%;
  padding: 3% 5% 5% 5%;
}
.textHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  font-style: italic;
  /* background-color: rgba(112, 159, 139, 0.852); */
  width: 100%;
  height: 10vh;
}
.subText {
  font-size: 1.2rem;
  text-align: left;
  text-indent: 3.5rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 5%;
  padding-right: 5%;
}

/* ABOUT ME PAGE */
#aboutMeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Apple Chancery, cursive;
  font-size: 4.5vw;
  font-weight: 500;
  margin-top: -2vh;
  margin-bottom: 4vh;
  width: 65vw;
  height: 20vh;
  text-shadow: 2px 2px gray;
  background-color: rgba(205, 227, 225, .8);
}
#aboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  width: 65vw;
  gap: 2.5vw;
}
#aboutMeTopRow {
  height: 2vh;
  background-color:  rgb(229, 229, 229) !important;
}
#aboutMeBioBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
}
#aboutMeBioClosing {
  padding-right: 40vw;
  margin-top: -5vh;
}
.aboutMeBio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 2vw;
  font-size: 2.5vh;
  text-align: center;
  font-style: italic;
  background-color: whitesmoke;
  height: 50vh;
  width: 25vw;
  padding: 6vh;
  overflow-y:auto;
  overflow-x: hidden;
}
.aboutMeBio::-webkit-scrollbar {
  width: .5vw;
  background-color: grey;
  opacity: .75;
}
#aboutMeBio {
  font-size: 2.8vh;
}
.aboutMeRow {
  display: flex;
  flex-direction: row;
  background-color: rgba(24, 61, 37, 0.5);
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 58vh;
}
#aboutMeHeadshot {
  border: black 2px solid;
  background-color: whitesmoke;
  margin: 1vw;
  width: auto;
  height: 85%;
}
#aboutMePython {
  width: 20vw;
  height: auto;
}
#aboutMeHackReactor {
  width: 25vw;
  height: auto;
}
#aboutMeOuter {
  padding-bottom: 5vh;
  margin-top: -6vh;
  background-color: rgba(245, 245, 245, 0.8);
  width: 100%;
}

/* SIDEBAR */
#sidebarNameHeader {
  padding-left: 3vw;
  padding-bottom: 1vw;
  font-size: 2.5vw;
  font-style: italic;
  color: white;
}
#sidebarListHeader {
  font-style: italic;
  padding-left: 4.25vw;
  padding-bottom: 3.4vh;
  font-size: 2.4vw;
  color: white;
  border-bottom: 2px white solid;
}
#navbarList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vh;
  margin-left: 1.25vw;
  opacity: 0;
  padding-bottom: 1.5vw;
  font-size: 1.6vw;
  color: white;
  transition: .8s;
}
#listBlock {
display: flex;
flex-direction: column;
font-size: 1.5vw;
}

/* MVP/MUSIC */
.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pageTitle {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 3.5vw;
  font-weight: 500;
  margin-bottom: 1vh;
  background-color: rgba(205, 227, 225, .8);
  width: 100%;
  height: 20vh;
  text-shadow: 2px 2px gray;
}
#mvp-githubLink {
  width: 6vw;
}
#specialHeader {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
}
#specialHeaderStart {
  border-bottom: 2px solid grey;
  margin-bottom: 1vh;
}
.icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 2.5vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
  background-color: whitesmoke;
  height: 10vh;
  width: 100%;
}

.application-news-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1vh;
  font-size: 1.75vw;
  height: 15vh;
}

.application-news {
  color: black;
}
#underlinedText {
  text-indent: 0;
  font-size: 1.75vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
  text-decoration: underline;
}
#mvpCarousel {
  border: black groove 8px;
  height: auto;
  width: 100%;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
#mvpImg {
  object-fit: fill;
  height: auto;
  width: 50vw;
  max-height: 100%;
  max-width: 100%;
}
.d-block w-100 {
  width: 45vw;
  height: 58.3vh;
}

/* TECH CARDS */
.techCardGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  margin-top: 5vh;
  margin-bottom: 1vh;
  width: 100%;
}
.techCard {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  position: relative;
  align-items: center;
  justify-content: end;
  padding: 2vh;
  height: auto;
  width: 12vw;
  font-size: 2vh;
  text-shadow: 1px 1px gray;
  background-color: rgba(46, 81, 63, 0.403);
  border: 2px solid grey;
}
.cardIcon {
  width: 8vw;
}

/* SDC/API REBUILD */
#sdc-images, #sdc-loadBalancer, #sdc-gif, .construction-gif {
  border: black 1px solid;
  width: 100%;
  padding: 1vw;
  margin-top: 3vh;
  background-color: white;
  height: auto;
  margin-bottom: 2vh;
}
#sdc-loadBalancer, #sdc-gif {
  padding: 0vw;
}
#sdc-schema {
  width: 100%;
  padding: 2vw;
  height: auto;
  background-color: white;
  border: 1px black solid;
}
#sdc-schema:hover {
  transform: scale(1.8);
}

/* BLUE OCEAN / CONSTRUCTION SITE */
#construction-header {
  display: flex;
  flex-direction: column;
  font-size: 3.5vw;
  gap: .6vh;
}
#construction-subheader {
  font-size: 1vw;
  font-style: italic;
  text-shadow: none;
}
#extraSpace {
  margin-bottom: 6vh;
}
.construction-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2vh;
  width: 100%;
}
.construction-roles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
  border: 1px solid black;
  background-color: whitesmoke;
  width: 12vw;
  height: 7vh;
  font-size: 1.7vw;
}
#flatAccordion {
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
}
#openAccordion {
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
}
#mapToolboxAccordion {
  border-top: black 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;

}
#mapToolbox {
display: flex;
width: 40vw;
}

/* PHOTOGRAPHY SITE */
#photography-outer-container {
  display: flex;
  flex-direction: row;
}
#photography-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
}
#photography-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-family: Apple Chancery, cursive;
  font-size: 3.5vw;
  font-weight: 500;
  margin-left: 0vw;
  margin-bottom: 4vh;
  margin-top: -6vh;
  background-color: rgba(205, 227, 225, .8);
  width: 65vw;
  height: 20vh;
}
.photographyGif {
  margin-top: 3vh;
  width: 55vw;
}
#photography-placeholder {
  font-size: 2.5vw;
}

/* FOOTER ICONS */
#linkedIn {
  width: 4.25vw;
  height: auto;
}
#github {
  width: 4vw;
  height: auto;
}

/* LINKED LIST GAME */
#ll-page {

}
#ll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}
#ll-body {
  margin-top: 4vh;
}
#ll-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  background-color: rgba(205, 227, 225, .8);
  width: 65vw;
  height: 15vh;
  margin-left: 5vw;
  margin-top: -5.5vh;
  margin-bottom: 4vh;
  text-shadow: 2px 2px gray;
}
#ll-description {
  width: 50vw;
  font-style: italic;
  font-size: 1.45vw;
  margin-left: 12vw;
  margin-bottom: 8vh;
}
#ll-gamebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px black solid;
  background-color: rgb(86, 166, 198);
  background-image: linear-gradient(rgb(86, 166, 198), rgb(74, 38, 38));
  margin-right: 10vw;
  width: 55vw;
  height: 70vh;
}

@keyframes showAnimation {
  from {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  to {
    visibility: visible;
    height: 4vw;
    width: 4vw;
  }
}

@keyframes segmentX {
  to {transform: translateX(50vw);}
}

@keyframes segmentY {
  from { transform: translateY(60vh)}
}

.segmentPath-0 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
}
.segment-0 {
  position: absolute;
  border-radius: 100%;
  z-index: 10;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in;
  animation-fill-mode: forwards;
}
.segmentPath-1 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .25s;
}
.segment-1 {
  position: absolute;
  border-radius: 100%;
  z-index: 9;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: .25s;
}
.segmentPath-2 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .5s;
}
.segment-2 {
  position: absolute;
  border-radius: 100%;
  z-index: 8;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}
.segmentPath-3 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .75s;
}
.segment-3 {
  position: absolute;
  border-radius: 100%;
  z-index: 7;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: .75s;
}
.segmentPath-4 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1s;
}
.segment-4 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.segmentPath-5 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1.25s;
}
.segment-5 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.25s;
}
.segmentPath-6 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1.5s;
}
.segment-6 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
.segmentPath-7 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1.75s;
}
.segment-7 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
}
.segmentPath-8 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 2s;
}
.segment-8 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.segmentPath-9 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 2.25s;
}
.segment-9 {
  position: absolute;
  border-radius: 100%;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear, showAnimation 1s ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.25s;
}
#ll-buttonBox {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  width: 55vw;
  margin-top: 4vh;
  margin-right: 10vw;
}
.ll-buttons {
  font-size: 2.5vh;
  width: 15vw;
  height: 6vh;
}
#ll-finalComment {
  width: 50vw;
  font-style: italic;
  font-size: 1.45vw;
  margin-top: 6vh;
  margin-left: -9vw;
  margin-bottom: 4vh;
}

/* FOOTER */
#siteFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: rgba(205, 227, 225, .8);
  width: 100%;
  height: 15vh;
}