/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  overflow-y: scroll;
  min-height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.sidebar {
  height: 100%;
  width: 0;
  min-width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  padding-top: 3vh;
  transition: 0.8s;
}

/* The sidebar links */
.sidebar a {
  margin: 1.5vh 1.5vh 1.5vh 6vh;
  text-decoration: none;
  white-space: nowrap;
  font-size: 2.5vh;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #767474;
}

.openbtn {
  font-size: 1.6vw;
  top: 1.5vh;
  position: sticky;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  color: white;
  padding: .5vw 1vw;
  margin-top: 1.5vh;
  margin-left: -12vw;
  margin-bottom: 1vh;
  border: none;
  width: 15vw;
  height: 6vh;
  transition: 0.8s;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .8s; /* If you want a transition effect */
  margin-left: 13vw;
  animation: entryFadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 1.5vw;}
} */
@keyframes entryFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes entryFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#entryContainer {
  display: flex;
  background-color: rgb(40, 64, 40);
  color: white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 3vw;
  gap: 5vh;
  width: 100%;
  height: 100vh;
  animation: entryFadeIn ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#entryCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
#entryButton {
  margin-top: 5vh;
  width: 16vw;
}
#entryButton:active {
  animation: entryFadeOut ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
#aboutMeHeader {
  display: flex;
  justify-content: center;
  font-family: Apple Chancery, cursive;
  font-size: 2.75vw;
  margin-left: -11vw;
  margin-bottom: 9vh;
  margin-top: 2vh;
}
#aboutMeOuter {
  margin-left: 8vw;
  padding-left: 5vw;
}
#aboutMeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6vw;
  width: 75vw;
  gap: 2.5vw;
}
#aboutMeBio {
  font-size: 1.1vw;
  text-indent: 2vw;
  text-align: start;
  font-style: italic;
  padding-top: 3vh;
  width: 30vw;
}
#aboutMeHeadshot {
  border: black 2px solid;
  width: 25vw;
}
#aboutMeOuter {
  margin-bottom: 5vh;
}
#container {
  display: flex;
  position: absolute;
  flex-direction: row;
}
#sidebarNameHeader {
  padding-left: 3vw;
  padding-bottom: 1vw;
  font-size: 2.5vw;
  font-style: italic;
  color: white;
}
#sidebarListHeader {
  font-style: italic;
  padding-left: 4.25vw;
  padding-bottom: 3.4vh;
  font-size: 2.4vw;
  color: white;
  border-bottom: 2px white solid;
}
#navbarList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vh;
  opacity: 0;
  padding-bottom: 1.5vw;
  padding-left: 1vw;
  font-size: 1.6vw;
  color: white;
  transition: 3s;
}

#detail {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  text-align: center;
  margin-top: -3vh;
  min-height: 100vh;
  width: 65vw;
}
#mvp-outer-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
#mvp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
#mvp-header {
  font-size: 3.5vw;
  font-weight: 500;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
#mvp-githubLink {
  font-size: 1.25vw;
  margin-top: 1vh;
  margin-bottom: 10vh;
}
#mvp-paragraph-1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-style: oblique;
  text-align: start;
  width: 50vw;
  font-size: 1vw;
}
#mvp-paragraph-headers {
  font-size: 1.5vw;
  font-weight: 500;
}
#mvp-aboveCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 50vw;
  font-size: 1.15vw;
  margin-bottom: 4vh;
  text-indent: 3vw;
  /* border-bottom: 1px black solid; */
}
.mvp-paragraphQuestions {
  font-size: 2.5vw;
  font-weight: 200;
  margin-bottom: 2vh;
  font-style: italic;
  text-indent: 0;
}
#mvp-underlinedText {
  margin-top: 1vh;
  font-size: 1.25vw;
}
#mvpCarousel {
  border: black groove 8px;
  height: 60vh;
  width: 45vw;
  margin-bottom: 4vh;
}
#mvpImg {
  height: 58.3vh;
}
#mvp-paragraph {
  width: 45vw;
  font-style: italic;
  padding-right: .5vw;
  font-size: 1.25vw;
  margin-bottom: 8vh;
}
#stackColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: 2vw;
  color: black;
  position: fixed;
  margin-left: 60vw;
  padding-top: 15vh;
  padding-left: -5vw;
  margin-top: -14vh;
  height: 110%;
  width: 30vw;
}
#stackTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: black 2px solid;
  width: 20vw;
  height: 5vh;
  margin-left: 1.75vw;
}
#techList {
  font-size: 1.4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3vh;
  margin-left: 4.5vw;
  gap: .75vh;
}

#sdc-outer-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
#sdc-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  align-items: center;
  text-align: center;
  width: 60vw;
}
#sdc-title {
  font-size: 3vw;
}
#sdc-github {
  display: flex;
  font-size: 1vw;
}
#sdc-images {
  border: black 2px solid;
  width: 50vw;
  height: auto;
}
.sdc-paragraphs {
  width: 45vw;
  font-style: italic;
  padding-right: .5vw;
  font-size: 1.25vw;
  margin-bottom: 8vh;
}
#constructionContainer {
  display: flex;
  flex-direction: row;
}
#constructionLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  width: 60vw;
}
#construction-header {
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  gap: .6vh;
}
#construction-subheader {
  font-size: 1vw;
  font-style: italic;
}
#bo-githubLink {
  margin-top: 1vh;
  font-size: 1vw;
}
.construction-img {
  /* border: 2px black solid; */
  margin: 1vh;
}
#construction-main {
  border-bottom: black 2px solid;
  border-right: black 5px solid;
}
#flatAccordion {
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
}
#openAccordion {
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  border-top: black 1px solid;
}
#mapToolboxAccordion {
  border-top: black 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;

}
#mapToolbox {
display: flex;
width: 40vw;
}

#photography-outer-container {
  display: flex;
  flex-direction: row;
}
#photography-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
}
#linkedIn {
  width: 4vw;
  height: auto;
}
#ll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}
#ll-gamebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px black solid;
  margin-right: 10vw;
  width: 55vw;
  height: 70vh;
}

@keyframes segmentX {
  to {transform: translateX(50vw);}
}

@keyframes segmentY {
  from { transform: translateY(60vh)}
}

@keyframes segmentX-2 {
  to {transform: translateX(50vw);}
}

@keyframes segmentY-2 {
  from { transform: translateY(60vh)}
}
@keyframes segmentX-3 {
  to {transform: translateX(50vw);}
}

@keyframes segmentY-3 {
  from { transform: translateY(60vh)}
}
@keyframes segmentX-4 {
  to {transform: translateX(50vw);}
}

@keyframes segmentY-4 {
  from { transform: translateY(60vh)}
}

.segmentPath-0 {
  position: fixed;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
}
.segment-0 {
  position: fixed;
  background-color: purple;
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  z-index: 10;
  animation: segmentY 2.5s alternate infinite linear;
}
.segmentPath-1 {
  position: fixed;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .25s;
}
.segment-1 {
  position: fixed;
  background-color: yellow;
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  z-index: 9;
  animation: segmentY 2.5s alternate infinite linear;
  animation-delay: .25s;
}
.segmentPath-2 {
  position: fixed;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .5s;
}
.segment-2 {
  position: fixed;
  background-color: blue;
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  z-index: 8;
  animation: segmentY 2.5s alternate infinite linear;
  animation-delay: .5s;
}
.segmentPath-3 {
  position: fixed;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: .75s;
}
.segment-3 {
  position: fixed;
  background-color: green;
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  z-index: 7;
  animation: segmentY 2.5s alternate infinite linear;
  animation-delay: .75s;
}
.segmentPath-4 {
  position: fixed;
  width: 2vw;
  height: 2vw;
  opacity: 1;
  animation: segmentX 10s alternate infinite linear;
  animation-delay: 1s;
}
.segment-4 {
  position: fixed;
  background-color: orange;
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  z-index: 6;
  animation: segmentY 2.5s alternate infinite linear;
  animation-delay: 1s;
}

#siteFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  padding-top: 4vh;
  border-top: 2px black solid;
  width: 55vw;
  height: 10vh;
}